@model Service
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    var data = ViewBag.data as IPagedList<Service>;
    int p = data.PageNumber;
    int s = data.PageSize;
    int i = 1;
    if (p > 1)
    {
        i = (s * p) - (s - 1);
    }
    ViewData["pageId"] = 22;
    ViewData["Title"] = "خدمات";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    @*List<WorkSample> workSamples = (List<WorkSample>)ViewData["workSamples"];*@
    List<WorkSample> serviceWorkSamples = (List<WorkSample>)ViewData["serviceWorkSamples"];
}
@section Scripts{
    <script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/admin-service.js" asp-append-version="true"></script>
}

<div class="uk-grid-collapse uk-child-width-1-1@s uk-margin-bottom" uk-grid>
    <div class="uk-width-auto@m">
        <ul class="uk-breadcrumb">
            <li><a asp-action="Index" asp-controller="Admin">داشبورد</a></li>
            <li><span>@ViewData["Title"]</span></li>
        </ul>
    </div>
    <div class="uk-width-expand@m uk-flex uk-flex-left">
        <a class="uk-button uk-button-primary" asp-action="CreateService">افزودن</a>
        <a class="uk-button uk-button-secondary uk-margin-small-right" href="#search-modal" uk-toggle>جستجو</a>
    </div>
</div>
<div id="append" class="box">
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-hover uk-table-divider uk-table-small uk-table-middle">
            <thead>
                <tr>
                    <th width="50">ردیف</th>
                    <th>@Html.DisplayNameFor(model => model.ServicePicture)</th>
                    <th>@Html.DisplayNameFor(model => model.ServiceTitle)</th>
                    <th>@Html.DisplayNameFor(model => model.ServiceMetaTitle)</th>
                    <th>دسته ها</th>
                    <th>نمایش نمونه‌کار</th>
                    <th width="50">ویرایش</th>
                    <th width="50">حذف</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in data)
                {
                    <tr class="uk-text-center">
                        <td>@i</td>
                        <td><img src="~/img/service/@item.ServicePicture" width="50" /></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceMetaTitle)
                        </td>
                        <td>
                            @if (item.ParentId != null)
                            {
                                foreach (var service in data.Where(s => s.ServiceId.Equals(item.ParentId)))
                                {
                                    <p class="uk-text-center uk-text-primary">@Html.DisplayFor(modelItem => service.ServiceTitle)</p>
                                    @*<hr />*@
                                }
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.ServiceTitle) <span class="uk-text-success">(دسته مادر)</span>
                            }
                        </td>
                        <td><button onclick="toggleVariants(this)" class="uk-button uk-button-primary uk-button-small"><i class="fas fa-plus-circle"></i></button></td>
                        @*<td><button class="uk-button uk-button-primary uk-button-small" onclick="opration(@item.ServiceId, '@item.ServiceTitle')"><i class="fas fa-list-ul"></i></button></td>*@
                        <td><a class="uk-button uk-button-primary uk-button-small" asp-action="EditService" asp-route-id="@item.ServiceId"><i class="far fa-edit"></i></a></td>
                        <td><a class="uk-button uk-button-primary uk-button-small" onclick="remove(@item.ServiceId)"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                    @if (item.WorkSamples.Any())
                    {
                        int j = 1;
                        <tr class="detail-row" style="display:none">
                            <td colspan="8">
                                <div class="uk-overflow-auto uk-border-rounded uk-box-shadow-medium">
                                    <table class="uk-table uk-table-small uk-table-striped uk-table-middle" style="background: #ccc">
                                        <thead>
                                            <tr>
                                                <th width="50">ردیف</th>
                                                <th>عنوان</th>
                                                <th>نوع نمونه‌کار</th>
                                                <th>وضعیت</th>
                                                <th>نمایش در صفحه خدمات</th>
                                                <th width="50">
                                                    گالری
                                                    @* @((Model.SampleType.Equals((byte) WorkSampleType.Picture) ? "تصویر" : "گالری"))*@
                                                </th>
                                                <th width="50">افزودن</th>
                                                <th width="50">ویرایش</th>
                                                <th width="50">حذف</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var sample in item.WorkSamples)
                                            {
                                                <tr class="uk-text-center">
                                                    <td>@j</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => sample.Title)
                                                    </td>
                                                    <td>
                                                        @if (sample.SampleType.Equals((byte)WorkSampleType.Picture))
                                                        {<p class="uk-text-center uk-text-primary">تصویر</p>}
                                                        else if (sample.SampleType.Equals((byte)WorkSampleType.Video))
                                                        {<p class="uk-text-center uk-text-primary">ویدئو</p>}
                                                        else
                                                        {<p class="uk-text-center uk-text-primary">فایل</p>}
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => sample.Status)
                                                    </td>
                                                    <td>
                                                        @if (sample.IsShow)
                                                        {<p class="uk-text-center uk-text-success"><span class="uk-badge"><i class="" uk-icon="check"></i></span></p>}
                                                        else
                                                        {<p class="uk-text-center uk-text-danger"><span class="uk-badge"><i class="" uk-icon="close"></i></span></p>}
                                                    </td>
                                                    <td>
                                                        @if (sample.SampleType.Equals((byte)WorkSampleType.Picture))
                                                        {
                                                            <a id="imgFile" class="uk-box-shadow-hover-large" asp-action="Gallery" asp-route-serviceId="@item.ServiceId">
                                                                <img src="~/img/workSample/@sample.Title/pic-@sample.DocumentFile" width="200" />
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            if (!string.IsNullOrEmpty(sample.DocumentFile))
                                                            {
                                                                <a class="uk-button uk-button-primary uk-button-small" asp-action="Gallery" asp-route-serviceId="@sample.ServiceId"><i class="fas fa-video"></i></a>
                                                            }
                                                            else
                                                            {
                                                                <p class="uk-text-center uk-text-warning">فایلی وجود ندارد</p>
                                                            }
                                                        }
                                                    </td>
                                                    <td><a class="uk-button uk-button-primary uk-button-small" asp-action="CreateWorkSample" asp-route-serviceId="@sample.ServiceId"><i class="fas fa-plus-circle"></i></a></td>
                                                    <td><a class="uk-button uk-button-primary uk-button-small" asp-action="EditWorkSample" asp-route-id="@sample.WorkSampleId"><i class="far fa-edit"></i></a></td>
                                                    <td><a class="uk-button uk-button-primary uk-button-small" onclick="removeSample(@sample.WorkSampleId)"><i class="fas fa-trash-alt"></i></a></td>
                                                </tr>
                                                j++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="detail-row" style="display:none">
                            <td colspan="8">
                                <div class="message-item uk-padding-small">
                                    <div class="uk-grid-medium uk-text-center uk-child-width-1-1" uk-grid>
                                        <div><i class="fas fa-4x fa-exclamation-triangle uk-text-danger"></i></div>
                                        <div>
                                            <h4>تا کنون نمونه‌کاری برای این سرویس درج نشده است.</h4>
                                        </div>
                                        <div>
                                            <a class="uk-button uk-button-primary uk-button-small" asp-action="CreateWorkSample" asp-route-serviceId="@item.ServiceId" target="_blank">افزودن نمونه‌کار جدید برای @item.ServiceTitle</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    i++;
                }
            </tbody>
        </table>
    </div>
    @if (data.PageCount > 1)
    {
        <div class="uk-text-center uk-width-1-1 uk-margin-top" dir="ltr">
            @Html.PagedListPager(data, page => Url.Action("Service", new { pageNumber = page }))
        </div>
    }
</div>
<div id="op-modal" uk-modal>
    <div class="uk-modal-dialog">
        <div class="uk-modal-header uk-light">
            <h2 class="uk-modal-title"></h2>
        </div>
        <div class="uk-modal-body">
            <div class="uk-flex uk-flex-center">
                <ul class="uk-list uk-text-center uk-width-1-1 uk-width-1-3@m">
                    <li><a id="gallery" href="#" target="_blank" class="uk-button uk-button-primary uk-width-1-1"> گالری</a></li>
                    <li><button id="tags" class="uk-button uk-button-primary uk-width-1-1"> تگ ها</button></li>
                    <li><a id="attr" href="#" target="_blank" class="uk-button uk-button-primary uk-width-1-1"> ویژگی ها</a></li>
                    <li><a id="variant" href="#" target="_blank" class="uk-button uk-button-primary uk-width-1-1"> نرخ و ابعاد</a></li>
                </ul>
            </div>
        </div>
        <div class="uk-modal-footer uk-text-center">
            <button class="uk-button uk-button-danger uk-modal-close" type="button">بازگشت</button>
        </div>
    </div>
</div>
<div id="delete-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-text-center uk-margin-auto-vertical">
        <form id="delete-form" method="post" asp-action="DeleteService" asp-controller="Admin">
            <input type="hidden" name="id" />
            <h3>آیا از حذف این مورد اطمینان دارید؟</h3>
            @*<!p class="uk-text-bold uk-text-danger">ابتدا باید تمام نمونه کارهای @if (Model.ServiceTitle.Any())
                {@Model.ServiceTitle}else{<text></text>} را خذف کنید سپس این سرویس را حذف کنید.</!p>*@
            <p class="uk-text-bold uk-text-danger">ابتدا باید تمام نمونه کارها را حذف کنید سپس این سرویس را حذف کنید.</p>
            <p>این عملیات قابل بازگشت نیست</p>
            <div class="uk-modal-footer uk-text-center">
                <button class="uk-button uk-button-primary" onclick="$('#delete-form').submit()" type="button">بلی</button>
                <button class="uk-button uk-button-danger uk-modal-close" type="button">خیر</button>
            </div>
        </form>
    </div>
</div>
<div id="delete-sample-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-text-center uk-margin-auto-vertical">
        <form id="delete-sample-form" method="post" asp-action="DeleteWorkSample" asp-controller="Admin">
            <input id="id" type="hidden" name="id" />
            @*<input id="sampleType" type="hidden" name="sampleType" />*@
            <h3>آیا از حذف این مورد اطمینان دارید؟</h3>
            <p class="uk-text-danger uk-text-bold">هشدار! این عملیات قابل بازگشت نیست</p>
            <div class="uk-modal-footer uk-text-center">
                <button class="uk-button uk-button-primary" onclick="$('#delete-sample-form').submit()" type="button">بلی</button>
                <button class="uk-button uk-button-danger uk-modal-close" type="button">خیر</button>
            </div>
        </form>
    </div>
</div>
