@model WorkSample
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["pageId"] = 23;
    ViewData["Title"] = "نمونه کارها";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var data = ViewBag.data as IPagedList<WorkSample>;
    int p = data.PageNumber;
    int s = data.PageSize;
    int i = 1;
    if (p > 1)
    {
        i = (s * p) - (s - 1);
    }
}
@section Scripts{
    <script>
        function remove(id) {
            $('#delete-modal input').val(id);
            UIkit.modal('#delete-modal').show();
        }
    </script>
}
<div class="uk-grid-collapse uk-child-width-1-1@s uk-margin-bottom" uk-grid>
    <div class="uk-width-auto@m">
        <ul class="uk-breadcrumb">
            <li><a asp-action="Index" asp-controller="Admin">داشبورد</a></li>
            <li><span>@ViewData["Title"]</span></li>
        </ul>
    </div>
    <div class="uk-width-expand@m uk-flex uk-flex-left">
        <a class="uk-button uk-button-primary" asp-action="CreateWorkSample" asp-controller="Admin">افزودن</a>
    </div>
</div>

<div id="append" class="box">
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-hover uk-table-divider uk-table-small uk-table-middle">
            <thead>
                <tr>
                    <th width="50">ردیف</th>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Service.ServiceTitle)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>@Html.DisplayNameFor(model => model.IsShow)</th>
                    <th width="50">ویرایش</th>
                    <th width="50">حذف</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in data)
                {
                    <tr class="uk-text-center">
                        <td>@i</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            <a asp-action="Service">@Html.DisplayFor(modelItem => item.Service.ServiceTitle)</a>
                        </td>
                        <td>
                            @if (item.Status)
                            {
                                <p class="uk-text-center uk-text-success">فعال</p>
                            }
                            else
                            {
                                <p class="uk-text-center uk-text-danger">غیرفعال</p>
                            }
                        </td>
                        <td>
                            @if (item.IsShow)
                            {<p class="uk-text-center uk-text-success"><span class="uk-badge"><i class="" uk-icon="check"></i></span></p>}
                            else
                            {<p class="uk-text-center uk-text-danger"><span class="uk-badge"><i class="" uk-icon="close"></i></span></p>}
                        </td>
                        <td><a class="uk-button uk-button-primary uk-button-small" asp-action="EditWorkSample" asp-route-workSampleId="@item.WorkSampleId"><i class="far fa-edit"></i></a></td>
                        <td><a class="uk-button uk-button-primary uk-button-small" onclick="remove(@item.WorkSampleId)"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
    @if (data.PageCount > 1)
    {
        <div class="uk-text-center uk-width-1-1 uk-margin-top box" dir="ltr">
            @Html.PagedListPager(data, page => Url.Action("WorkSample", new { pageNumber = page, serviceId = ViewBag.serviceId }))
        </div>
    }
</div>
<div id="delete-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-text-center uk-margin-auto-vertical">
        <form id="delete-form" method="post" asp-action="DeleteWorkSample" asp-controller="Admin">
            <input id="id" type="hidden" name="id" />
            @*<input id="sampleType" type="hidden" name="sampleType" />*@
            <h3>آیا از حذف این مورد اطمینان دارید؟</h3>
            <p class="uk-text-danger uk-text-bold">هشدار! این عملیات قابل بازگشت نیست</p>
            <div class="uk-modal-footer uk-text-center">
                <button class="uk-button uk-button-primary" onclick="$('#delete-form').submit()" type="button">بلی</button>
                <button class="uk-button uk-button-danger uk-modal-close" type="button">خیر</button>
            </div>
        </form>
    </div>
</div>